version: "3.7"
services:
  app:
    container_name: app
    restart: always
    env_file:
        - env
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    secrets:
      - ca.key
      - ca.crt
      - server.key
      - server.crt
      - mongopass.txt
  mongo:
    image: mongo
    volumes:
      - ../data:/data/db
    ports:
      - "27017:27017"
secrets:
  ca.key:
    file: ./../secrets/ca.key
  ca.crt:
    file: ./../secrets/ca.crt
  server.key:
    file: ./../secrets/server-key.pem
  server.crt:
    file: ./../secrets/server-crt.pem
  mongopass.txt:
    file: ./../secrets/mongopass.txt
