version: "3.7"
services:
  app:
    container_name: app
    env_file:
      - envdev
    restart: always
    volumes:
      - ./:/usr/src/app
    command: /bin/bash deploy.dev.sh
    build: ./dev/
    ports:
      - "3000:3000"
      - "3001:3001"
    secrets:
      - ca.key
      - ca.crt
      - server.key
      - server.crt
  deviceapp:
    container_name: deviceapp
    env_file:
      - envdev
    ports:
      - "3002:3002"
    restart: always
    volumes:
      - ./:/usr/src/app
    command: /bin/bash deploy.device.dev.sh
    build: ./dev/
    secrets:
      - ca.key
      - ca.crt
      - server.key
      - server.crt
  mongo:
    image: mongo
    volumes:
      - ../data:/data/db
    expose:
      - "27017"
secrets:
  ca.key:
    file: ./../secrets/ca.key
  ca.crt:
    file: ./../secrets/ca.crt
  server.key:
    file: ./../secrets/server-key.pem
  server.crt:
    file: ./../secrets/server-crt.pem

