
.add-user {
  height: 20px;
  width: 20px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  text-align: center;
  right: 20px;
}

.add-user:hover {
    color: dodgerblue;
}

.user-item {
    position: relative;
    font-size: 15px;
}

.user-search {
    max-width: 300px;
    position: relative;
}

.user-search-results {
    position: absolute;
    width: 100%;
    border: lightgray 1px solid;
    border-top: none;
}