name: CD

on:
  push

defaults:
  run:
    shell: bash
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:      
      - name: Setup Spool
        run: |
            mkdir app
            cd app
            curl -fsSL https://raw.githubusercontent.com/OPEnSLab-OSU/Spool/master/setup/Install-Spool.sh | sh
        working-directory: ${{ github.workspace }}
        
      - name: Test
        run: |
          echo $(pwd)
          cd app
          echo $(pwd)
          cd Spool
          echo $(pwd)
        working-directory: ${{ github.workspace }}
