name: CD

on:
  push

defaults:
  run:
    shell: bash
    working-directory: ${{ GITHUB_WORKSPACE }}
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:      
      - name: Setup Spool
        run: mkdir app
            cd app
            curl -fsSL https://raw.githubusercontent.com/OPEnSLab-OSU/Spool/master/setup/Install-Spool.sh | sh
      
      - name: Test
        run: |
          echo $(pwd)
          cd app
          echo $(pwd)
          cd secrets
          echo $(pwd)
